[user]
    name = cosnomi
    email = cosnomi@cosnomi.com
[core]
    editor = vim -c \"set fenc=utf-8\"
    quotepath = false
    excludesfile = ~/.gitignore_global
[alias]
    co = checkout
    cancel = reset --soft HEAD^
    unstage = reset HEAD
    empty = commit --allow-empty
    amend = commit --amend
