[user]
    name = cosnomi
    email = cosnomi@cosnomi.com
    signingkey = 8C9EBE9F7B2899DE
[core]
    editor = nvim
    quotepath = false
    excludesfile = ~/.gitignore_global
[alias]
    co = checkout
    cancel = reset --soft HEAD^
    unstage = reset HEAD
    discard = checkout HEAD --

    cm = commit
    cma = commit -a
    cs = commit -S
    ts = tag -s

    empty = commit --allow-empty
    amend = commit --amend
    forcepush = push --force-with-lease
[gpg]
    program = gpg
[diff]
    algorithm = histogram
